In [3]:
import pandas as pd
import warnings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
warnings.filterwarnings('ignore')

In [8]:
metros = pd.read_excel('riyadh_metro_stations_Full.xlsx')

# Show first 5 rows
metros.head()

,Name,Type_of_Utility,Number_of_Ratings,Rating,Longitude,Latitude
0,Ad Dar Al Baida,Metro Station,8.0,4.9,46.776301,24.559996
1,Ad Dar Al Baida,Metro Station,2.0,5.0,46.776391,24.560102
2,Western Station,Metro Station,1.0,1.0,46.614496,24.581947
3,Western Station,Metro Station,NaN,NaN,46.614811,24.581956
4,Al Aziziah,Metro Station,1.0,4.0,46.760823,24.587257

#EDA

In [17]:
# Show the shape of dataset - # of columns and rows
print('Number of columns and rows: \n')
print(metros.shape)

Number of columns and rows:

(296, 6)

In [18]:
print('Info about the dataset elements: \n')
print(metros.info())

Info about the dataset elements:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               296 non-null    object
 1   Type_of_Utility    296 non-null    object
 2   Number_of_Ratings  256 non-null    float64
 3   Rating             256 non-null    float64
 4   Longitude          296 non-null    float64
 5   Latitude           296 non-null    float64
dtypes: float64(4), object(2)
memory usage: 14.0+ KB
None

In [20]:
print('Description of the dataset: \n')
print(metros['Rating'].describe())

Description of the dataset:

count    256.000000
mean       3.722656
std        1.753147
min        0.000000
25%        3.500000
50%        4.400000
75%        5.000000
max        5.000000
Name: Rating, dtype: float64

In [21]:
print('Null values: \n')
print(metros.isnull().sum())

Null values:

Name                  0
Type_of_Utility       0
Number_of_Ratings    40
Rating               40
Longitude             0
Latitude              0
dtype: int64

In [25]:
print('Duplicate values: \n')
print(metros.duplicated().sum())

Duplicate values:

0